<mat-list role="list">
    <ng-container *ngFor="let t of transactions">
                <mat-list-item>
                    <mat-icon mat-list-icon>{{t.type.value.icon}}</mat-icon>
                    <div mat-line style="white-space: normal;">{{t.getDescriptionForHistory()}}</div>
                    <div mat-line>{{t.when()}}</div>
                    <div [style.color]="t.type.value.color" dir="ltr" style="white-space: nowrap;">
                        {{t.amount.displayValue}}
                    </div>
                        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>