<mat-nav-list role="list">
    <ng-container *ngFor="let t of transactions">
        <mat-list-item>
            <div class="flex-spread">
                <div>
                    <!-- <mat-icon mat-list-icon>{{t.type.value.icon}}</mat-icon> -->
                    <div mat-line>{{t.type.value.caption}}, {{t.description.value}}
                    </div>
                    <div>
                        {{t.when()}}
                    </div>
                </div>
                <div [style.color]="t.type.value.color">
                    {{t.amount.displayValue}}
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list-item>


    </ng-container>
</mat-nav-list>